@tailwind base;
@tailwind components;
@tailwind utilities;

.body-text p {
  margin-bottom: 24px;
}

.portfolio-images img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px;
}

.portfolio-images img + img {
  margin-top: 20px;
}

.active {
  color: #94a3b8;
}

:root {
  --background-color: #e2e8f0; /* slate-200 */
  --foreground-color: #1e293b; /* slate-800 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1e293b; /* slate-800 */
    --foreground-color: #e2e8f0; /* slate-200 */
  }
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
}
