@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100 dark:bg-slate-800;
}


.my-anchor-class {
  color: #64748b;
}

.my-anchor-class:hover {
  color: #94a3b8;
}

.body-text p {
  margin-bottom: 24px;
}

.portfolio-images img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px;
}

.portfolio-images img + img {
  margin-top: 20px;
}

.active {
  color: #94a3b8;
}


